<% include partials/header  %>

<h1>This is the Show Page</h1>

<p>
  and this is the id: <%= id._id %>
  <br>and the name is <%= id.name %>
</p>

<p>
  <%= id.description %>
</p>

<img src='<%= id.image%>'>


<% include partials/footer %>
